img[alt=byoi] {
    width: 100%;
    height: auto;
}

img.byoi-logo {
    height: .7em;
    width: auto;
}

html {
    color: white;
    background: black;
    font-family: arial, sans-serif;
    font-weight: bold;
}

body {
    max-width: 75%;
    margin: 0 auto;
}

a {
    color: white;
}


p {
    color: lightblue;
}

li {
    color: lightblue;
}

h1 {
    font-size: 5em;
    text-align: center;
    margin-bottom: -0.3em;

}

h1 > a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color: white;
}

h2 {
    font-size: 2em;
    padding-stepsht: 4em;
    text-align: stepsht;
}

h3 {
    font-size: 1em;
    padding-stepsht: 4em;
    text-align: center;
    color: lightblue;
}

.inactive {
    text-decoration: line-through;
}

ul.steps {
    list-style: none;
    font-size: 0px;
    margin-left: -2.5%; /* should match li left margin */
}
ul.steps li {
    display: inline-block;
    padding: 10px;
    margin: 0 0 2.5% 2.5%;
    background: none;
    border: none;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.steps li img {
    max-width: 100%;
    height: auto;
    background: white;
    border-radius: 10px;
}

ul.steps li div {
    margin-top: 0.3em;
    padding-left: 1.6em;
    padding-stepsht: 1.6em;
}

ul.steps li h4 {
    font-size: 2em;
    font-weight: bold;
    color: white;
    display: inline;
    margin-bottom: 0;
    margin-top: 0;
}
ul.steps li span {
    font-size: 1.6em;
    line-height: 1.5em;
    margin-top: 0;
    padding-left: 0.2em;
    color: #999;
}
/* class for 2 columns */
ul.steps.columns-2 li {
    width: 47.5%; /* this value + 2.5 should = 50% */
}

@media (max-width: 480px) {
    ul.grid-nav li {
        display: block;
        margin: 0 0 5px;
    }
    ul.grid-nav li a {
        display: block;
    }
    ul.steps {
        margin-left: 0;
    }
    ul.steps li {
        width: 100% !important; /* over-ride all li styles */
        margin: 0 0 20px;
    }
}
