img[alt=byoi] { 
  width:100%;
  height: auto;
}

img[alt=byoi-logo] {
    width: auto;
    height: 1em;
    border-style: none;
}

body {
    width: 75%;
    margin: 0 auto;
}

.inactive {
  text-decoration: line-through;
}
