img[alt=byoi] {
    width: 100%;
    height: auto;
}

img.byoi-logo {
    height: .7em;
    width: auto;
}

html {
    color: white;
    background: black;
    font-family: arial, sans-serif;
    font-weight: bold;
}

body {
    max-width: 75%;
    margin: 0 auto;
}

a {
    color: white;
}


p {
    color: lightblue;
}

li {
    color: lightblue;
}

h1 {
    font-size: 5em;
    text-align: center;

}

h1 > a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color: white;
}

h2 {
    font-size: 2em;
    padding-right: 4em;
    text-align: right;
}

h3 {
    font-size: 1em;
    padding-right: 4em;
    text-align: center;
    color: lightblue;
}

.inactive {
    text-decoration: line-through;
}
