<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
    </head>
    <body>
        <h1>
            <a href="index"><img src="https://raw.githubusercontent.com/sudomesh/propaganda/master/byoiV3_smaller.png" style="border-style: none;" alt="byoiV3" width="105" height="120" />Build Your Own Internet
            </a> 
        </h1>
        <h3>
            <a href="crimp">Crimp Your Cable</a> | <a href="flash">Flash Your Node</a> | <a href="https://github.com/sudomesh/tunneldigger-lab">Dig Your Tunnel</a> | <a href="https://github.com/sudomesh/babeld-lab/blob/master/services_guide.md">Setup Your Service</a> | <a href="https://peoplesopen.net/workshop">Say Hi</a>
        </h3> 

        {{ content }}
        
        <p> 
            This website is based on <a href="https://sudoroom.org/wiki/Mesh">Sudo Mesh</a>'s <a href="https://peoplesopen.net/workshop">"Build Your Own Internet" series of workshops</a>.
        </p>
        <p>
            Licenses for linked content may vary. 
        </p> 

    </body>
</html>
